In [2]:
import pandas as pd
import numpy as np
import csv
import itertools
from datetime import datetime
import glob

In [3]:
def read_original_df(rute:str = 'dataset/Export_Time.csv') -> pd.DataFrame:
    list_rows = []
    list_rows_with_data = []
    format_string = '%m/%d/%Y %I:%M:%S %p'
    with open(rute, newline='\n') as csvfile:
        csvreader = csv.DictReader(csvfile, delimiter=',')
        for i,row in enumerate(csvreader):
            filters = row.get('Point Path').split('\\')
            if row.get('Samples') == '0' or row.get('Data') == None:
                list_rows_with_data.append(row)
            else:
                row['DTS_new'] = datetime.strptime(row.pop('DTS'), format_string)
                row['point'] =  filters[7]
                data = [row.pop('Data')]
                row['newData'] = row.pop(None)
                row['newData'] = list(itertools.chain(data, row['newData']))
                list_rows.append(row)
    df = pd.DataFrame(list_rows)
    return df

In [ ]:
def read_original_df(rute:str = 'dataset/Export_Time.csv') -> pd.DataFrame:
    list_rows = []
    list_rows_with_data = []
    format_string = '%m/%d/%Y %I:%M:%S %p'
    with open(rute, newline='\n') as csvfile:
        csvreader = csv.DictReader(csvfile, delimiter=',')
        for i,row in enumerate(csvreader):
            filters = row.get('Point Path').split('\\')
            if row.get('Samples') == '0' or row.get('Data') == None:
                list_rows_with_data.append(row)
            else:
                row['DTS_new'] = datetime.strptime(row.pop('DTS'), format_string)
                row['point'] =  filters[7]
                data = [row.pop('Data')]
                row['newData'] = row.pop(None)
                row['newData'] = list(itertools.chain(data, row['newData']))
                list_rows.append(row)
    df = pd.DataFrame(list_rows)
    return df

In [4]:
def chunk_df(list_rows: pd.DataFrame, chunks:int = 6) -> list[pd.DataFrame]:
    df_chunks:list[pd.DataFrame] = np.array_split(list_rows,chunks)
    for i,chunk in enumerate(df_chunks):
        chunk.to_csv(f'dataset/chunks/Export_Time_{i}.csv',index=False)
    return df_chunks

In [10]:
def read_chunk_data(search_str:str = 'dataset/chunks/Export_Time_*.csv') -> pd.DataFrame:
    all_chunk_files = glob.glob(search_str)
    df_list = [pd.read_csv(chunk_file) for chunk_file in all_chunk_files]
    combined_df = pd.concat(df_list, ignore_index=True)
    return combined_df

In [6]:
# # chunk raw data
# list_rows = read_original_df(rute = 'dataset/Export_Time.csv')
# chunk_df(list_rows,chunks = 6)

In [7]:
df = read_chunk_data(search_str = 'dataset/chunks/Export_Time_*.csv')

In [18]:
df['Point Path'].str.split( r'\\' , expand = True)

,0,1,2,3,4,5,6,7,8
0,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 E,ML-004-ESTE,MOTOR,1HV,None
1,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 E,ML-004-ESTE,MOTOR,1HV,None
2,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 E,ML-004-ESTE,MOTOR,1HV,None
3,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 E,ML-004-ESTE,MOTOR,1HV,None
4,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 E,ML-004-ESTE,MOTOR,1HV,None
...,...,...,...,...,...,...,...,...,...
4447,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 O,ML-004-OESTE,REDUCTOR,4AV,None
4448,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 O,ML-004-OESTE,REDUCTOR,4AV,None
4449,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 O,ML-004-OESTE,REDUCTOR,4AV,None
4450,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 O,ML-004-OESTE,REDUCTOR,4AV,None
4451,,Hierarchy,MOLIENDA,MOLINO BOLAS 04,3224-MOLINO BOLA04 O,ML-004-OESTE,REDUCTOR,4AV,None

In [ ]:
list_rows = []
list_rows_with_data = []

format_string = '%m/%d/%Y %I:%M:%S %p'

with open('dataset/Export_Time.csv', newline='\n') as csvfile:
    csvreader = csv.DictReader(csvfile, delimiter=',')
    for i,row in enumerate(csvreader):
        filters = row.get('Point Path').split('\\')
        row.pop('Point Path')
        row.pop('Process Value')
        row.pop('Unit')
        row.pop('Channel')
        row.pop('Detection')
        if row.get('Samples') == '0' or row.get('Data') == None or filters[7] == '7AO' or filters[7] == '8AO'or filters[7] == '7Hac'or filters[7] == '8Hac':
            list_rows_with_data.append(row)
        elif filters[6] == 'CONTRAEJE' and (filters[7] == '7AV' or filters[7] == '7HV' or filters[7] == '7VV' or filters[7] == '8AV' or filters[7] == '8HV' or filters[7] == '8VV') :
            row['DTS_new'] = datetime.strptime(row.pop('DTS'), format_string)
            row['point'] =  filters[7]
            data = [row.pop('Data')]
            row['newData'] = row.pop(None)
            row['newData'] = list(itertools.chain(data, row['newData']))
            list_rows.append(row)